<nav>
  <ul class="nav flex-column">
    <li>
      <a>
        Accueil
      </a>
    </li>
    <li>
      <a>
        Comics
      </a>
    </li>
    <li>
      <a>
        Musiques
      </a>
    </li>
    <li>
      <a>
        Favoris
      </a>
    </li>
  </ul>
</nav>
