@import '~src/variables';

div {
  background: $palette-color-one;
  padding: 1rem;
  h1 {
    color: $light-color;
    margin: 0;
    display: inline-block;
    padding-left: $gutter;
  }
  img {
    max-width: 300px;
    max-height: 100px;
  }
}
