<header class="fixed-top">
  <app-header #header></app-header>
</header>

<main [ngClass]="{'close-aside': header.open === false}">
  <aside>
    <div class="scroller">
      <app-nav></app-nav>
    </div>
  </aside>

  <div class="page">

    <div class="contents">
      <app-home></app-home>
    </div>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>

</main>
