@import "~src/variables";

/// Description design of user interface

header {
  height: $header-height;
  background: $header-bg;
  padding: $header-padding;
}

main {
  background: $main-bg;
  min-height: $main-min-height;
  padding-top: $main-pdt;
}

aside {
  background: $sidenav-bg;
  width: $sidenav-width;
  min-height: $sidenav-min-height;
  padding-left: $gutter;
  position: fixed;
  z-index: 1000;
  .scroller {
    overflow-y: auto;
    max-height: $scroller-max-height;
    padding-bottom: $scroller-pdb;
  }
}

.page {
  display: flex;
  flex-direction: column;
  min-height: $main-min-height;
}

.contents {
  flex-grow: 1;
}
footer {
  background: $footer-bg;
}
.contents, footer {
  margin-left: $sidenav-width;
}
