<h1>Exercice 1</h1>

<div>
  <p>Un des principaux concepts d'Angular et le data-binding, avec son pendant l'event-binding.
    Il est important de comprendre ces deux concepts avant de commencer à développer un projet en Angular.</p>

  <h2>Premier exercice : maîtriser le data-binding par interpolation.</h2>
  <p>L'objectif est d'afficher la valeur de la variable <i>iNeedToBeDisplayed</i> dans l'encadré suivant : <span></span></p>

  <h2>Deuxième exercice : maîtriser le property-binding.</h2>
  <p>Dans la balise <i>img</i> suivante, injecter la source de l'image sans utiliser l'interpolation (variable <i>imageSrc</i> dans le composant)</p>
  <img src="" alt="Une image doit être affichée ici" />

  <h2>Troisième exercice : maîtriser l'event-binding.</h2>
  <p>Brancher l'événenemt "click" du button ci-dessus sur la méthode handleClick du composant.
    Puis cacher l'énoncé de l'exercice en fonction de la valeur de la variable "hideText".</p>
</div>

<button class="btn btn-primary">Clic moi</button>

